body {
    margin: 0px;
    padding: 0px;
}


.iframe-container{
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}
iframe {
    width: 60%; /* عرض 60% من عرض الصفحة */
    height: 80%; /* عرض الارتفاع بشكل مناسب */
    border: none;
}